node_modules
vendor
.git
.github
.env
.env.*
!.env.example
storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
Thumbs.db
*.log
tests
.editorconfig
.gitignore
.gitattributes
phpunit.xml
README.md
docker-compose*.yml
Dockerfile
.dockerignore
